<div class="row mt-4">
    <div class="col-md-6 d-none d-md-block" style="height: 450px;">
        <div class="text-center col-md-12 my-auto side-heder">
            <h1>Cadastro de Usuário</h1>
            <img src="../../../../assets/img/registerImage.png" class="my-4" alt="" width="400px">      
        </div>
    </div>    
    <div class="col-md-6" style="margin-top: auto;">
        <form class="p-1">            
            <div class="form-row">
                <div class="card mr-5" style="width: 15rem;">
                    <img src="../../../../../assets/img/ANGULAR.png" class="card-img-top" alt="...">
                    <div class="card-body" style="margin-top: 50px;">
                      <h5 class="card-title text-center">Sou Professor</h5>                      
                      <a id="bt1" class="btn btn-primary" routerLink="/novo-professor">Cadastrar</a>
                    </div>        
                  </div>
                  <div class="card" style="width: 15rem;">
                    <img src="../../../../../assets/img/cursos-TI.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="margin-top: 50px;">
                      <h5 class="card-title text-center">Sou Aluno</h5>                      
                      <a id="bt" class="btn btn-danger" routerLink="/novo-aluno">Cadastrar</a>
                    </div>        
                  </div>
            </div>                       
            <div class="form-row" style="margin-top: 50px;">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" routerLink="/login">
                        Já sou Cadastrado
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

