<app-titulo class="text-center" [titulo]="'Perfil'"></app-titulo>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <div id="container" >
        <form>        
            <div class="row">           
                <div class="col-lg-12">
                    <div class="form-row">                        
                        <div class="card text-center">                                
                            <div class="d-flex align-self-center pt-3">
                                <a><img src="../../../assets/img/foto01.jpg" name="aboutme" width="120" height="120" class="rounded-circle"></a>
                            </div>
                            <div class="card-body">                                
                                <div class="h7 text-bold pb-1"><b>Pedro Henrique Lourenco</b></div>
                                <hr>
                                <div class="h7">
                                    Olá 👋 Eu sou o Pedro Henrique! Sou estudande de Análise e desenvolvimento de sistemas e a tentando a primeira oportunidade na área de desenvolvimento.                                    
                                    💻 Atualmente sou estudande de: .NET(C#), Angular2+, JavaScript, SQLServer.
                                    <hr>                                   
                                    <p><b>Email: pedrohsl92@gmail.com</b></p>
                                    <p><b>Contato: (61) 99857-0654</b></p>                             
                                </div>
                            </div>                            
                        </div>                                         
                    </div>                  
                </div>
            </div>        
        </form>        
    </div>    
    <app-footer></app-footer>    
</body>
</html>