<app-titulo class="text-center" [titulo]="'Stefanini - Hackathon 2021'"></app-titulo>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Darshboard</title>
</head>
<body>
  <h5>Um pouco da sua história</h5>
  <p>Fundado em 1987, por Marco Stefanini (CEO), O Grupo Stefanini é uma das empresas multinacionais brasileiras com maior atuação internacional. Conta com mais de 25 mil colaboradores, está presente em mais de 40 países e faz parte da lista das 100 maiores empresas de TI do mundo. </p>
  <h5>Missão</h5>
  <p>Trabalhamos para transformar em realidade os sonhos de nossos clientes, colaboradores e acionistas, através das melhores soluções de tecnologia e inovação.</p>
  <h5>Estratégias</h5>
  <p>Nossas decisões e nosso comportamento são conduzidos por importantes valores: agir com integridade, respeito, energia, atitude positiva e foco no resultado sustentável.</p>   
  <div class="container">
    <div class="form-row" >
      <div class="card mr-5" style="width: 15rem;">
        <img src="../../../../../assets/img/ANGULAR.png" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title text-center">Meu Perfil</h5>                      
          <a id="bt1" class="btn btn-primary" routerLink="/contato">Perfil</a>
        </div>        
      </div>
    </div>
  </div>  
  <app-footer></app-footer>
</body>
</html>