<app-titulo class="text-center" [titulo]="'Área do Professor'"></app-titulo>

<div class="text-center">  
  <div class="container">
    <div class="row">
      <div class="card mr-2 ml-5" style="width: 15rem;">
        <img src="../../../../../assets/img/ANGULAR.png" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title">Cadastro Cursos</h5>          
          <a class="btn btn-primary" routerLink="/cadastro-curso">Cadastrar</a>
        </div>        
      </div>      
      <div class="card mr-2 ml-2" style="width: 15rem;">
        <img src="../../../../../assets/img/node01.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 60px;">
          <h5 class="card-title">Listar Professores</h5>          
          <a class="btn btn-danger" routerLink="/listar-professor">Mostrar</a>
        </div>        
      </div>
      <div class="card mr-2 ml-2" style="width: 15rem;">
        <img src="../../../../../assets/img/node01.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 60px;">
          <h5 class="card-title">Cadastrar Professores</h5>          
          <a class="btn btn-danger" routerLink="/professor">Cadastrar</a>
        </div>        
      </div>
      <div class="card mr-2 ml-2" style="width: 15rem;">
        <img src="../../../../../assets/img/cursos-TI.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title">Cadastro Alunos</h5>          
          <a class="btn btn-warning" routerLink="/cadastrar-aluno">Cadastrar</a>
        </div>        
      </div>
  </div>
  </div>
  <app-footer></app-footer>     
</div>
