<app-titulo class="text-center" [titulo]="'Professores'"></app-titulo>
<div class="card rounded shadow-sm p-3">
  <div class="d-flex">    
    <div class="form-inline mr-auto"></div>
    <div>
      <button class="btn btn-outline-success mb-2" (click)="novoProfessor(template)">    
        <i class="fas fa-plus-circle"></i>&nbsp;
        Novo Professor
      </button>
    </div>
  </div>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Filtro: </div>
    </div>
    <input type="text" class="form-control" placeholder="Filtrar por nome" [(ngModel)]="filtro" >
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>             
        <th>#</th>
        <th>Nome</th>        
        <th>Email</th> 
        <th>Cursos</th>
        <th colSpan="2">Opções</th>           
      </tr>
    </thead>
    <tbody *ngIf="professores?.length">
      <tr *ngFor="let professor of professoresFiltrados">        
        <td>{{professor.id}}</td>
        <td>{{professor.nome}}</td>
        <td>{{professor.email}}</td>             
        <td>
          <div *ngIf="!professor.cursos.length">
            Não informado
          </div>
          <div *ngFor="let el of professor?.cursos">           
            {{el.nome | uppercase}}        
          </div>
        </td>
        <td>          
          <div class="btn-group">
            <button class="btn btn-sm btn-success" *ngIf="professor.id == user.id" tooltip="Editar" (click)="editarProfessor(professor, template)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirProfessor(professor, template)">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>  
  </table> 
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content" *ngIf="modal == 1">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Cadastro</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nome:</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="Digite um nome">
            <field-errors [control]="form.get('nome')">
            </field-errors> 
          </div> 
          <div class="form-group col-md-6">
            <label>Email:</label>
            <input type="email" class="form-control" [ngClass]="cssValidator(f.email)" placeholder="Digite um email" formControlName="email">
            <div *ngIf="f.email.errors?.required" class="invalid-feedback" class="invalid-feedback">
              Campo é obrigatório.
            </div>
          <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
              Deve ser um endereço de e-mail válido
          </div> 
          </div>                
        </div> 
        <div class="form-row" *ngIf="modoSalvar === 'incluir'">
          <div class="form-group col-md-6">
            <label>Senha:</label>
            <input type="password" class="form-control" placeholder="Digite sua senha" formControlName="senha">
            <field-errors [control]="form.get('senha')">
            </field-errors>                     
          </div>
          <div class="form-group col-sm-6">
            <label for="">Tipo de usuário:</label>                    
            <select class="form-control" formControlName="tipo" type="text">                                  
              <option [value]="1">Professor</option>
            </select>
            <field-errors [control]="form.get('tipo')">
            </field-errors>            
          </div>                  
        </div>                   
      </form>      
      <div bsModal #templateCurso="bs-modal" class="card rounded shadow-sm mt-4" *ngIf="modoEditar"> 
        <div class="p-3">
          <div class="d-flex border-bottom">
            <h2 class="mr-auto">
              Cursos
            </h2>
            <h2>
              <i class="fas fa-award"></i>        
            </h2>
          </div>
          <div class="form-row p-1">
            <div class="row" style="display: contents;">                                 
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Selecione</th>
                      <th scope="col">Nome</th>
                      <th scope="col">descricão</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let curso of listaCursos">
                      <td>
                        <input type="checkbox" #curso checked [(ngModel)]="curso.checked" [name]="curso.id">
                      </td>
                      <td>{{curso.nome}}</td>
                      <td>{{curso.descricao}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-success ml-auto" [disabled]="!form.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="modal == 2" class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        Deletando Curso
      </h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ bodyDeletarCurso }}</p>
    </div>    
    <div class="modal-footer btn-group d-flex">      
      <button type="button" class="btn btn-outline-danger" (click)="template.hide()">
        CENCELAR
      </button>
      <button type="button" class="btn btn-outline-success" (click)="confirmeDelete(template)">
        DELETAR
      </button>
    </div>
  </div>
</div>

